<section id="financingservices">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Financing Services</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/service-icons/loan.png" class="wow bounceIn serviceIcons" alt="">
                    <h3>Unsecured Business Loan</h3>
                    <p class="text-muted">&centerdot; Working capital loan</p>
                    <p class="text-muted">&centerdot; Business term loan</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/service-icons/trade.png" class="wow bounceIn serviceIcons" alt="">
                    <h3>Trade Facility</h3>
                    <p class="text-muted">&centerdot; Bulk purchase of stocks, ingredients</p>
                    <p class="text-muted">&centerdot; Invoice financing</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/service-icons/property.png" class="wow bounceIn serviceIcons" alt="">
                    <h3>Property</h3>
                    <p class="text-muted">&centerdot; Residential, commercial, industrial, shophouses, warehouses and others</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-lg-offset-2 text-center">
                <div class="service-box">
                    <img src="img/service-icons/machine.png" class="wow bounceIn serviceIcons" alt="">
                    <h3>Machinery Loan</h3>
                    <p class="text-muted">&centerdot; New purchase and refinance of machines</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/service-icons/project.png" class="wow bounceIn serviceIcons" alt="">
                    <h3>Project Financing</h3>
                    <p class="text-muted">&centerdot; Depending of Letter of Award</p>
                    <p class="text-muted">&centerdot; Bunch of facilities included: term loans, invoice financing, etc</p>
                </div>
            </div>
        </div>
    </div>
</section>
