<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Services</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <fieldset>

                    <legend class="legend1">Loan</legend>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="service-box">
                                <img src="img/service-icons/loan.png" class="wow bounceIn serviceIcons" alt="">
                                <h3>Unsercured Business Loan</h3>
                                <p class="text-muted">Working capital loan</p>
                                <p class="text-muted">Business term loan</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="service-box">
                                <img src="img/service-icons/trade.png" class="wow bounceIn serviceIcons" alt="">
                                <h3>Trade Facility</h3>
                                <p class="text-muted">Bulk purchase of stocks, ingredients</p>
                                <p class="text-muted">Invoice Financing</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="service-box">
                                <img src="img/service-icons/property.png" class="wow bounceIn serviceIcons" alt="">
                                <h3>Property</h3>
                                <p class="text-muted">Residential, Commercial, Industrial, Shophouses, Warehouses and others</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-lg-offset-2 text-center">
                            <div class="service-box">
                                <img src="img/service-icons/machine.png" class="wow bounceIn serviceIcons" alt="">
                                <h3>Machinery Loan</h3>
                                <p class="text-muted">New purchase and refinance of machines</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="service-box">
                                <img src="img/service-icons/project.png" class="wow bounceIn serviceIcons" alt="">
                                <h3>Project Financing</h3>
                                <p class="text-muted">Depending of Letter of Award</p>
                                <p class="text-muted">Bunch of facilities included; term loans, invoice financing, etc</p>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-lg-3">

                <fieldset>
    
                    <legend class="legend1">Accounting</legend>

                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="service-box">
                                <img src="img/service-icons/account.png" class="wow bounceIn serviceIcons" alt="">
                                <h3>Accounting & Tax</h3>
                                <p class="text-muted">Bookkeeping & accounting services</p>
                                <p class="text-muted">Compilation of non-audit financial statement</p>
                                <p class="text-muted">Accounting software training and support</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="service-box">
                                <img src="img/service-icons/corporate.png" class="wow bounceIn serviceIcons" alt="">
                                <h3>Corporate Services</h3>
                                <p class="text-muted">Company incorporation and liquidation</p>
                                <p class="text-muted">Secretarial service</p>
                                <p class="text-muted">XBRL financial report</p>
                            </div>
                        </div>
                    </div>
    
                </fieldset>
            </div>
        </div>
    </div>
</section>
