<section id="tertimonials">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Testimonials</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
              <!-- Carousel Start below -->
              <div id="carousel1" class="carousel slide testimonial-style" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div class="item active">
                    <div class="carousel-caption testimonial-caption-style">
                      <p>Victory Experts provides excellent advisory services. They have broad knowledge in this industry, which sets them apart from their competitors. They focused on client’s needs and provide excellence advice and service and working capital solutions. The rate they provide is affordable. Their Service is much useful to us.</p>
                      <p class="testimonial-authors">Mr. Chua - Construction Industry</p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="carousel-caption testimonial-caption-style">
                      <p>Just in time we need financing for new shipment, John had provided a very professional service and advise. We managed to secure $130k with our low balance and tight cashflow due to cashflow stuck with clients and suppliers. Will definitely need a helping hand like Victory Experts as always. Highly Recommended!</p>
                      <p class="testimonial-authors">Mr. Anba - Logistics and Freight Industry</p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="carousel-caption testimonial-caption-style">
                      <p>Emilia has went the extra mile in helping me to secure the funding that my company required and also given me best advice on how I should manage my overall finances well, a very professional young lady.</p>
                      <p class="testimonial-authors">Mr. Lim - Agro-product Industry</p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="carousel-caption testimonial-caption-style">
                      <p>Victory Experts has assisted our company with Working Capital Loan, enabling a revenue growth in 3 years. Darius is sincere, efficient and provided prompt follow up service.  We are very satisfied with the service and capability of Victory Experts in assisting with our company’s expansion.</p>
                      <p class="testimonial-authors">Mr. Lim - Marine Safety Company</p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="carousel-caption testimonial-caption-style">
                      <p>Victory Experts is our long-term partner, supporting the growth of our company from the start. Victory Experts has assisted our company with Invoice Financing, to help me solve my cash flow problems. They have provided us clear financing solutions with fast response. The consultant’s service exceeded my expectations. Darius is professional and provided me with useful insights.</p>
                      <p class="testimonial-authors">Mr. Lau - Seafood Trading Industries</p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="carousel-caption testimonial-caption-style">
                      <p>They are very detail when going thru customer's profile, and also provide the most relevant advice to me. Really recommend to try their services whenever came across loans solutions.</p>
                      <p class="testimonial-authors">Mr. Mohamed - Landscape Company</p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="carousel-caption testimonial-caption-style">
                      <p>I was very impressed with the efficiency and clarity of Darius from Victory Experts. He was able to deliver what I was looking for in the shortest time possible. We are short of funds at the time and he managed to secure more than $700k of funds for us to standby for the more than $1million projects. We are still looking forward with the Trade Facility we needed for our projects.</p>
                      <p class="testimonial-authors">Mr. Devaraj - Oil and Gas Services Industry</p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="carousel-caption testimonial-caption-style">
                      <p>They are trustworthy, reliable and responsible, key qualities why they are my sole and preferred finance consultant over the years. Japhne delivered beyond expectations and justified our decision.</p>
                      <p class="testimonial-authors">Ms. Christine - Beauty Company</p>
                    </div>
                  </div>
                </div>
            
                <!-- Controls -->
            
                <a class="left carousel-control" href="#carousel1" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
                <a class="right carousel-control" href="#carousel1" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
              </div>
              <!-- Indicators
              <ol class="carousel-indicators">
                <li data-target="#carousel1" data-slide-to="0" class="active"></li>
                <li data-target="#carousel1" data-slide-to="1"></li>
                <li data-target="#carousel1" data-slide-to="2"></li>
            </ol> -->
        </div>
    </div>
</section>
